@mixin mobile{
  @media (max-width: 480px){
    @content;
  }
}
@mixin tablet{
  @media (max-width: 768px){
    @content;
  }
}
@mixin laptop{
  @media (max-width: 1200px){
    @content;
  }
}

body{
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
} 

.formContainer {
    background: linear-gradient(45deg, #7b96ec, #bb4747);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .formWrapper {
      background-color: #ffffffa6;
      padding: 20px 5%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
  
      .logo {
        color: #5d5b8d;
        font-weight: bold;
        font-size: 24px;

      }
  
      .title {
        color: #5d5b8d;
        font-size: 15px;
      }
  
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;
  
        input {
          padding: 15px;
          border: none;
          border-radius: 15px;
          width: 250px;
          border-bottom: 1px solid #a7bcff;
          background-color: #ffffffa6;
          &::placeholder {
            color: rgb(175, 175, 175);
          }
        }
  
        button {
          background-color: #7b96ec;
          color: white;
          padding: 10px;
          font-weight: bold;
          border: none;
          cursor: pointer;

        }
  
        label {
          display: flex;
          align-items: center;
          gap: 10px;
          color: #8da4f1;
          font-size: 12px;
          cursor: pointer;
          
          span{
            font-size: small;
          }

          img {
            width: 32px;
          }
        }
      }
      p {
        color: #5d5b8d;
        font-size: 15px;
        margin-top: 10px;
      }
    }
  }

  .home {
    background: linear-gradient(45deg, #7b96ec, #bb4747);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .container {
      border-radius: 10px;
      width: 65%;
      height: 80%;
      display: flex;
      overflow: hidden;

      @include tablet {
        width: 90%;
      }
      @include mobile {
        width: 100%;
        height: 100%;
        border-radius: 0%;
      }
      .sidebar {
        flex: 1;
        background-color: #3e3c61;
        position: relative;

        .navbar {
          display: flex;
          align-items: center;
          background-color: #2f2d52;
          height: 50px;
          padding: 10px;
          justify-content: space-between;
          color: #ddddf7;

          .logo {
            font-weight: bold;

            @include tablet {
              display: none;
            }
          }
  
          .user {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .userName {
              font-size: 12px;
            }
            img {
              background-color: #ddddf7;
              height: 24px;
              width: 24px;
              border-radius: 50%;
              object-fit: cover;
            }
            button {
              background-color: #5d5b8d;
              color: #ddddf7;
              font-size: 12px;
              border: none;
              cursor: pointer;

              @include tablet {
                position: absolute;
                bottom: 10px;
              }
            }
          }
        }
        .search {
          border-bottom: 1px solid gray;
  
          .searchForm {
            padding: 10px;
  
            input {
              background-color: transparent;
              border: none;
              color: white;
              outline: none;
  
              &::placeholder {
                color: lightgray;
              }
            }
          }
        }
        .Chats {
          height: 70%;
          overflow-y: scroll;
  
          /* width */
          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            display: none;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 10px;
          }
        }

          .userChat {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: white;
            cursor: pointer;
    
            &:hover {
              background-color: #2f2d52;
            }
    
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
          .userChatInfo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            span{
              font-weight: 500;
            }
            p{
              margin: 0px;
              font-size: 14px;
              color: lightgray;
            }
          }
      }
      .chat{
        flex: 2;
        background: linear-gradient(45deg, #ffffff, #e99292);
        
        .chatInfo{
          height: 50px;
          background: linear-gradient(45deg, #5d5b8d, #da4141);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 10px;
          color: lightgrey;
        }

        .chatIcons{
          display: flex;
          gap: 10px;

          img{
            height: 24px;
            cursor: pointer;
          }
        }
        .messages{
          padding: 10px;
          height: calc(100% - 160px);
          overflow-y: scroll;

          /* width */
          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            display: none;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: grey;
            border-radius: 10px;
          }

          .message{
            display: flex;
            gap: 10px;
            margin-bottom: 20px;

            .messageInfo{
              display: flex;
              flex-direction: column;
              color: grey;
              font-weight: 300;
              font-size: 12px;
              img{
                height: 30px;
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
              }
            }

            .messageContent{
              max-width: 80%;
              display: flex;
              flex-direction: column;
              gap: 10px;

              p{
                margin: 0;
                background-color: #3e3c61;
                color: white;
                padding: 10px 20px;
                border-radius: 0px 10px 10px 10px;
                max-width: max-content;
              }
              img{
                width: 50%;                
              }
            }

            // & is used for css selector to select the message class and the owner class both
            &.owner{
              flex-direction: row-reverse;

              .messageContent{
                align-items: flex-end;

                p{
                  background-color: #e99292;
                  color: white;
                  border-radius: 10px 0px 10px 10px;
                }
              }
            }
          }
        }
        .input{
          height: 50px;
          background-color: #ffffff;
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;

            input{      /* this is input tag inside input class*/
              width: 100%;
              border: none;
              outline: none;
              font-size: 15px;

              ::placeholder{
                color: lightgray;
              }
            }

            .send{
              display: flex;
              align-items: center;
              gap: 10px;

              img{
                height: 24px;
                cursor: pointer;
              }

              button{
                border: none;
                padding: 10px 15px;
                color: white;
                background-color: #b84a4e;
                cursor: pointer;
              }
            }
        }
      }
    }
  }